/*******************************************************

	Blarg Front-End SCSS Framework by @Shane_Howell

  -------------------

	Import - Does not directly compile.
	@import > ../config.scss

********************************************************/



/********************
 ** Grid Variables **
 ********************/

	$base-font-size: 16px; 				// Your base font-size in pixels
	$column: 60px;						// The column-width of your grid in pixels
	$gutter: 20px;						// The gutter-width of your grid in pixels

	$use-rems: true;					// Don't want to use REMs? Then set me to false. :(
										// REMs don't support IE8 and below by default, use a polyfill if support is needed or set to false to use EMs.



/********************
 ** Misc Variables **
 ********************/

	$em: $base-font-size / 1em;			// Shorthand for outputting EMs - don't remove or you'll have a bad time
	$rem: $base-font-size / 1rem;		// Shorthand for outputting REMs - don't remove or you'll have a bad time

	// Used to add gutter via margin when inline-block is set. Since inline-block adds margin...
	// Does the same as the grid, uses REMs or EMs respectively.
	@if $use-rems == true {

		$col-gut: ($gutter - 4px) / $rem;

	} @else if $use-rems == false {

		$col-gut: ($gutter - 4px) / $em;

	}




/***************************
 ** Media Query Variables **
 ***************************/

	$smallest:  "screen";  											// Phone Portrait - Default
	$small: 	"screen and (min-width: 480px)";					// Phone Landscape
	$medium: 	"screen and (min-width: 720px)";					// Tablet Portrait
	$large: 	"screen and (min-width: 960px)";					// Desktop Regular
	$largest:   "screen and (min-width: 1200px)";					// Desktop Large
	$retina: 	"screen and (-webkit-min-device-pixel-ratio: 1.5),
		      	 screen and (min--moz-device-pixel-ratio: 1.5),
		      	 screen and (min-device-pixel-ratio: 1.5)";			// Retina Screens